<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>登录</title>
    <link th:href="@{/index/css/login.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/index/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/index/js/jquery.SuperSlide.js}"></script>
    <script th:src="@{/index/js/Validform_v5.3.2_min.js}"></script>
    <script th:src="@{/vueResources/tools/axios.js}"></script>
    <script th:src="@{/vueResources/tools/vue.js}"></script>
    <script>
        $(document).ready(function () {
            var $tab_li = $('#tab ul li');
            $tab_li.hover(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = $tab_li.index(this);
                $('div.tab_box > div').eq(index).show().siblings().hide();
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            /*学生登录信息验证*/
            $("#stu_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入学号') {
                    $(this).val('');
                }
            });
            $("#stu_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入学号');
                }
            });
            $("#stu_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#stu_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $("#stu_code_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入验证码') {
                    $(this).val('');
                }
            });
            $("#stu_code_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入验证码');
                }
            });
            $(".stu_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".stu_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });

            /*导师登录信息验证*/
            $("#tea_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入教工号') {
                    $(this).val('');
                }
            });
            $("#tea_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入教工号');
                }
            });
            $("#tea_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#tea_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $("#tea_code_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入验证码') {
                    $(this).val('');
                }
            });
            $("#tea_code_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入验证码');
                }
            });
            $(".tea_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".tea_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });

            /*教务登录信息验证*/
            $("#sec_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入教务号') {
                    $(this).val('');
                }
            });
            $("#sec_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入教务号');
                }
            });
            $("#sec_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#sec_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $("#sec_code_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入验证码') {
                    $(this).val('');
                }
            });
            $("#sec_code_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入验证码');
                }
            });
            $(".sec_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".sec_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".screenbg ul li").each(function () {
                $(this).css("opacity", "0");
            });
            $(".screenbg ul li:first").css("opacity", "1");
            var index = 0;
            var t;
            var li = $(".screenbg ul li");
            var number = li.size();

            function change(index) {
                li.css("visibility", "visible");
                li.eq(index).siblings().animate({opacity: 0}, 3000);
                li.eq(index).animate({opacity: 1}, 3000);
            }

            function show() {
                index = index + 1;
                if (index <= number - 1) {
                    change(index);
                } else {
                    index = 0;
                    change(index);
                }
            }

            t = setInterval(show, 8000);
            //根据窗口宽度生成图片宽度
            var width = $(window).width();
            $(".screenbg ul img").css("width", width + "px");
        });
    </script>
</head>

<body>
<div id="tab">
    <ul class="tab_menu">
        <li class="selected">学生登录</li>
        <li class="">邮箱登录</li>
        <li class="">注册账户</li>
    </ul>
    <div class="tab_box">

        <!-- 学生登录开始 -->
        <div style="display: block;" id="studentLogin">
            <p v-show="isShow">{{errorText}}</p>
            <form action="/login" method="post">
                <div>
                    <label>学&nbsp;&nbsp;&nbsp;号：</label>
                    <input type="text" placeholder="输入学号" v-model="userName">
                </div>
                <div>
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" placeholder="输入密码" v-model="passWord">
                </div>
                <div>
                    <button type="submit" @click.prevent="userLogin">登录</button>
                </div>
            </form>
        </div>
        <!-- 学生登录结束-->

        <!--邮箱登录开始-->
        <div class="hide" style="display: none;" id="emailLogin">
            <p v-show="isShow">{{errorText}}</p>
            <form action="/" method="post">
                <div>
                    <label>邮&nbsp;&nbsp;箱：</label>
                    <input type="text" name="username" datatype="s6-18" placeholder="输入邮箱地址" v-model="email"
                           @blur="emailBlur"/>
                </div>
                <div>
                    <label>验证码：</label>
                    <input type="text" name="code" datatype="*4-4" placeholder="输入邮箱验证码" v-model="emailCode"
                           @blur="emailCodeBlur"/>
                </div>
                <div>
                    <button @click.prevent="verifyMailbox" :disabled=disabledFlag>{{text}}</button>
                    <button type="submit" @click.prevent="emailLogin">登录</button>
                </div>
            </form>
        </div>
        <!-- 邮箱登录结束-->

        <!-- 教务登录开始-->
        <div class="hide" style="display: none;">
            <div class="sec_error_box"></div>
            <form action="http://v.bootstrapmb.com/2021/2/h48ua9700/" method="post" class="sec_login_error">
                <div>
                    <label>教务号：</label>
                    <input type="text" id="sec_username_hide" name="username" value="输入教务号" nullmsg="教务号不能为空！"
                           datatype="s6-18" errormsg="教务号范围在6~18个字符之间！" sucmsg="教务号验证通过！">
                    <!--ajaxurl="demo/valid.jsp"-->
                </div>
                <div>
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" id="sec_password_hide" name="password" value="输入密码" nullmsg="密码不能为空！"
                           datatype="*6-16" errormsg="密码范围在6~16位之间！" sucmsg="密码验证通过！">
                </div>
                <div>
                    <label>验证码：</label>
                    <input type="text" id="sec_code_hide" name="code" value="输入验证码" nullmsg="验证码不能为空！" datatype="*4-4"
                           errormsg="验证码有4位数！" sucmsg="验证码验证通过！">
                    <img th:src="@{/index/images/captcha.jpg}" title="点击更换" alt="验证码占位图"></div>
                <div>
                    <input type="checkbox" name="remember">
                    <label>记住密码</label>
                </div>
                <div>
                    <button type="submit">登录</button>
                </div>
            </form>
        </div>
        <!-- 教务登录结束-->

    </div>
</div>
<div class="screenbg">
    <ul>
        <li style="opacity: 0; visibility: visible;">
            <a href="javascript:">
                <img th:src="@{/index/images/a0.jpg}" style="width: 1406px;">
            </a>
        </li>
        <li style="opacity: 1; visibility: visible;">
            <a href="javascript:">
                <img th:src="@{/index/images/a1.jpg}" style="width: 1406px;">
            </a>
        </li>
        <li style="opacity: 0; visibility: visible;"><a href="javascript:">
            <img th:src="@{/index/images/a2.jpg}" style="width: 1406px;">
        </a>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#emailLogin',
        data: {
            disabledFlag: false,
            text: '点击发送验证码',
            t: null,
            defaultTime: 60,
            email: null,
            emailCode: null,
            isShow: false,
            errorText: null
        },
        methods: {
            emailBlur() {
                let regex = /^[A-Za-zd0-9]+([-_.][A-Za-zd]+)*@([A-Za-zd]+[-.])+[A-Za-zd]{2,5}$/;
                if (!regex.test(this.email)) {
                    this.errorText = '邮箱格式不正确！'
                    this.isShow = true
                } else {
                    this.isShow = false
                }
            },
            emailCodeBlur() {
                let regex = /^\d{6}$/;
                if (!regex.test(this.emailCode)) {
                    this.errorText = '验证码格式不正确！'
                    this.isShow = true
                } else {
                    this.isShow = false
                }
            },
            verifyMailbox() {
                //发送邮件之前先验证邮箱
                this.emailBlur()
                if (this.isShow) return null
                let param = {
                    'email': this.email,
                }
                axios.post('http://localhost:8080/login/sendEmail', param).then(rep => {
                    if (rep.data !== 'successed') {
                        return null
                    }
                    this.t = this.defaultTime
                    this.disabledFlag = true
                    let timer = setInterval(() => {
                        --this.t
                        if (this.t === 0) {
                            clearInterval(timer)
                            this.text = '点击发送验证码'
                            this.disabledFlag = false
                        } else {
                            this.text = this.t + 's后再次尝试'
                        }
                    }, 1000);
                }).catch(error => {
                    alert(error)
                })
            },
            emailLogin() {
                //登录提交之前验证邮箱和验证码
                this.emailBlur()
                this.emailCodeBlur()
                if (this.isShow) return null
                let param = {
                    'email': this.email,
                    'code': this.emailCode
                }
                axios.post('http://localhost:8080/login/emailLogin', param).then(rep => {
                    console.log(rep.data);
                    if (rep.data !== 'successed') {
                        alert(rep.data)
                    }
                    window.location.replace('http://localhost:8080/main')
                }).catch(error => {
                    alert(error)
                })
            }
        }
    })

    new Vue({
        el: '#studentLogin',
        data: {
            isShow: false,
            errorText: null,
            userName: null,
            passWord: null
        },
        methods: {
            userLogin() {
                let params = {'userName': this.userName, 'passWord': this.passWord}
                axios.post('http://localhost:8080/login/userLogin', params).then(rep => {
                    let code = rep.data.code
                    if (code !== 200) {
                        this.errorText = rep.data.error.message
                        this.isShow = true
                    } else {
                        let url = rep.data.success.url
                        window.location.replace(url)
                    }
                }).catch(error => {
                    alert(error)
                })
            }
        }
    })

</script>


</body>
</html>